doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ./email.css
    body 
        h2 Reset password 
        p Hello, you've requested a password reset, click here to reset
        a(href=`${resetUrl}`) Go to password reset 
        p If you can't enter to this link, visit #{resetUrl}
        p If you didn't requested a password reset you can ignore this email 